@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

/* Yellow-Safety Enforcement */
/* Garante que qualquer elemento com fundo amarelo da marca tenha texto preto para contraste AAA */
.bg-brand-500 {
    color: black !important;
}

/* Custom Utilities */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
